.category-list {

    text-align: left;
    padding: 5px;
    background-color: lightgrey;
    width: 96%;
    display: inline-block;
}
.category-div {

    padding: 5px;
    margin-bottom: 2px;
    border-bottom: 1px solid grey;
    cursor: pointer;
    width: 95%;
    font-size: 14px;
}
.category-div:hover {

    font-weight: bold;
}
.category-div.active {

    font-weight: bold;
    opacity: 0.8;
}
