.product-main-div {

    width: 100%;
    float: left;
    padding: 4px;
}
.product-single {

    padding: 6px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    width: 20%;
    border: 1px solid black;
    cursor: pointer;
}
.no-data-div {

    font-weight: bold;
    text-align: center;
    width: 100%;
}
.product-single:hover {

    font-weight: bold;
    opacity: 0.8;
}